.underline-extended {
    @apply relative text-black;
  }
  
  .underline-extended::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 2%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(1.5);
    transform-origin: bottom left;
  }